<!-- <ion-header class="ion-margin-tops ion-padding one">
  <ion-toolbar color="">
    <ion-title>Welcome to StudyApp 👋</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  class="  two">
  <h2 class="welcome-text">Welcome to StudyApp 👋</h2>
  <p class="sub-text">Boost your learning with quick tools:</p>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card button >
          <ion-card-header>
            <ion-card-title>📒 Notes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Review your saved study materials and summaries.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card button >
          <ion-card-header>
            <ion-card-title>🧪 Quizzes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Practice with topic-wise quizzes to test your knowledge.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card button>
          <ion-card-header>
            <ion-card-title>🎥 Video Lessons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Learn with engaging video tutorials and animations.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card button >
          <ion-card-header>
            <ion-card-title>🗓️ Study Planner</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Stay organized with your personal study schedule.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


