<ion-content class="ion-padding ">


  <div class="greed ">
    <h1 class="greed-text">Welcome</h1>
    <p class="greed-text">Good to see you</p>
  </div>

  <form [formGroup]=" signupForm" (ngSubmit)="onSignup()">

    <ion-input type="text" label="Client Name" label-placement="floating" fill="outline" placeholder="Client Name"
      formControlName="clientname"></ion-input>

    <ion-input type="email" label="EmailId" class="ion-margin-top" label-placement="floating" fill="outline" placeholder="email"
      formControlName="email"></ion-input>

    <ion-input type="tel" formControlName="contactnumber" class="ion-margin-top" label="Contact Number"
      label-placement="floating" fill="outline" placeholder="Contact Number"
      formControlName="contactnumber"></ion-input>

    <ion-input type="password" label="Password" class="ion-margin-top" label-placement="floating" fill="outline" s
      placeholder="password" formControlName="password">
      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>




    <ion-select label="State" fill="outline" formControlName="state" class="ion-margin-top" 
    label-placement="floating"
      (ionChange)="getCity($event)">
      <ion-select-option *ngFor="let st of statevar" [value]="st.Id">{{st.name}}</ion-select-option>
    </ion-select>

    <ion-select label="City" fill="outline" formControlName="city" class="ion-margin-top" 
    label-placement="floating">
      <ion-select-option *ngFor="let ct of cityvar" [value]="ct.Id">{{ct.name}}</ion-select-option>
    </ion-select>


    <ion-textarea formControlName="address" fill="outline" label="Address" label-placement="floating"
      class="ion-margin-top"></ion-textarea>


    <ion-select formControlName="gender" label="Gender" fill="outline" label-placement="floating"
      class="ion-margin-top">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="Others">Others</ion-select-option>

    </ion-select>


    <ion-button expand="block" type="submit" class="login-button ion-margin-top ">Signup</ion-button>

  </form>

  <div class="divider">
    <span>OR CONTINUE WITH</span>
  </div>

  <div class="social-buttons">
    <ion-button fill="outline" color="primary" (click)="onFacebookSignup()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Facebook
    </ion-button>
  
    <ion-button fill="outline" color="danger" (click)="onGoogleSignup()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>
  </div>
</ion-content>