<ion-content class="ion-padding">
  <ion-segment>
   
    <ion-segment-button value="first"  (click)="onLogin()">
      <ion-label>Login</ion-label>
      
    </ion-segment-button>
    <ion-segment-button value="second"  (click)="onSignup()">
      <ion-label>SignUp</ion-label>
    </ion-segment-button>
   
   
  </ion-segment>
  <!-- <ion-segment-view>
    <ion-segment-content id="first">Login</ion-segment-content>
    <ion-segment-content id="second">SignUp</ion-segment-content>
    
  </ion-segment-view> -->
  <!-- <ion-segment value="default">
    <ion-segment-button value="default" (click)="onLogin()">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment"  (click)="onSignup()">
      <ion-label>SignUp</ion-label>
    </ion-segment-button>
  </ion-segment> -->
<div class="greed">
  <h1>Welcome Learner,</h1>
  <p>Good to see you</p>
</div>

  <form [formGroup]=" signupForm" (ngSubmit)="onSignup()">

    <ion-input  label="Username" label-placement="floating" fill="outline" placeholder="username" formControlName="username" ></ion-input>
    <ion-input  label="EmailId" class="ion-margin-top" label-placement="floating" fill="outline" placeholder="email" formControlName="email" ></ion-input>

    <ion-input type="password" label="Password" class="ion-margin-top" label-placement="floating" fill="outline"s placeholder="password" formControlName="password">
      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>

   
    <ion-button expand="block" type="submit" class="login-button ion-margin-top">Login</ion-button>
 
  </form>

  <div class="divider">
    <span>OR CONTINUE WITH</span>
  </div>

  <div class="social-buttons">
    <ion-button fill="outline" color="primary" (click)="onFacebookSignup()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Facebook
    </ion-button>
  
    <ion-button fill="outline" color="danger" (click)="onGoogleSignup()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>
  </div>
</ion-content>