
  <ion-content class="home-page-content">
  
    <!-- Greeting + Search Bar Card -->
    <ion-card class="greeting-card">
      <ion-card-content>
        <h2>Hello Student, Good Morning 👋</h2>
        <ion-searchbar
          placeholder="Search for courses, lessons..."
          color="light"
          show-clear-button="focus"
          animated="true"
        ></ion-searchbar>
      </ion-card-content>
    </ion-card>

  <div class="cards-grid">
    <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/cc/58/b6/cc58b629c34e303273c58765816d24d0.jpg');"></div>
      <ion-card-header>
        <ion-card-title>Math</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- -------------- -->
    <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/00/ba/8e/00ba8e11517dffc64541bdc10505bbe0.jpg');"></div>
      <ion-card-header>
        <ion-card-title>Chemistry</ion-card-title>
      </ion-card-header>
    </ion-card>
      <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/f1/55/72/f155722bd564d1d59e021b702ffa9319.jpg');"></div>
      <ion-card-header>
        <ion-card-title>Physics</ion-card-title>
      </ion-card-header>
    </ion-card>
     <!-- ---------------------- -->

     <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/40/87/de/4087def7f06fda787f56ec6108f77401.jpg');"></div>
      <ion-card-header>
        <ion-card-title>Math</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/40/87/de/4087def7f06fda787f56ec6108f77401.jpg');"></div>
      <ion-card-header>
        <ion-card-title>Music</ion-card-title>
      </ion-card-header>
     
    </ion-card>



    <ion-card class="subject-card">
      <div class="card-bg" style="background-image: url('https://i.pinimg.com/236x/25/8d/9d/258d9ddc2a6b4f616aad43d973db7605.jpg');"></div>
      <ion-card-header>
        <ion-card-title>History</ion-card-title>
      </ion-card-header>
      
      
    </ion-card>
  </div>
</ion-content>
<!-- ----------------------------------- -->








