
.mh
{
  margin-top: 60px;
}
:host {
    --ion-color-primary: rebeccapurple;
  }
  
  .search-page-content {
    background: #f7f7fa;
  }
  
  .section {
    margin-top: 20px;
  }
  
  h2 {
    color: var(--ion-color-primary);
    margin-bottom: 10px;
  }
  